html {
	position: relative;
}
body {
	margin-bottom: 50px;
	margin-top: 25px;
}
.jumbotron {
	background-image: url(background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 -300px;
	color: white;
	height: 500px;
	text-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
}
.jumbotron img {
	width: 200px;
	border: 5px solid white;
}
.jumbotron p {
	font-size: 30px;
}
hr {
	width: 200px;
	border: 1px solid black;
}
.col-sm-12 h1 {
	font-weight: bold;
	font-size: 40px;
}
section {
	min-height: 400px;
}
h2 {
	font-weight: bold;
	text-transform: capitalize;
}
.portfolio {
	background-color: #eee;
}
.col-sm-3 img {
	width: 300px;
	height: 250px;
}
.contact {
	min-height: 550px;
}
.kontak{
	padding: 20px;
	border: 3px solid black;
	margin-top: 30px;
	border-radius: 15px;
	background-color: #cffafa;
	color: black;
	font-size: 18px;
}
.contack {
	border: 3px solid black;
	margin-top: 30px;
	padding: 20px;
	border-radius: 15px;
	margin-bottom: 20px;
}
.footer {
	background-color: black;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.footer p {
	line-height: 40px;
	color: white;
}
.footer a {
	color: lightblue;
	text-decoration: none;
}